<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rex Pop</title>
    <link rel="stylesheet" href="../static/style.css">

    <script src="jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
    <script>
        
    </script>
    <link rel="short icon"
        href="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex.icon_e7QQx1MMd.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333253">
</head>

<body id="main">
    <center>
        <div id="title">
            <font>POP REX</font>
        </div>
        <div>
            <font id="score">0</font>
        </div>
        <div><img id="face1"
                src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex0_ewOou6QTyX.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333461"
                alt="">
                <img id="face2"
                src="https://ik.imagekit.io/csiejarimgstorage/poprexImage/rex1_AP9KYtbB4.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650001333459"
                alt="" style="display:none;"></div>
        
    </center>
</body>

</html>